.detail-img-container {
    display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .detail-img-container > img{
    width: 50%;
    height: auto;
  }
  
  
  .projectDetail-container > p {
    margin: 2em;
  }