
.detail-img-container {
      
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      gap: 1rem;
      flex-wrap: wrap;
  }
  
  .detail-img-container > img{
    height: 300px;
    width: auto;
    object-fit: contain;

  }
  
  
  .projectDetail-container > p {
    margin: 2em;
  }