.project-card {
    background-color: var(--card-color);
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-radius: 20px;
    overflow: hidden;
  }

  .project-card > * {
    padding: 0 1rem;
  }
  
  .project-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    padding: 0;
  }
  
  .project-card-links {
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    .project-card {
    width: 280px;
    height: 350px;
    }
}