
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

header > nav > ul {
  display: flex;
  height: 100%;
  list-style: none;
  text-decoration: none;
  align-items: center;
  gap: var(--gap);
  margin: 0 auto;
}

header > nav button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
