
header > nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
  }

  header > nav > ul {
    display: flex;
    height: 100%;
    list-style: none;
    text-decoration: none;
    align-items: center;
    gap: var(--gap);
  }

  header > nav button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }